$primary: #366FB4;
$secundary: #007BFF;
$blue: #0053CE;
$tertiary: #373D3E;
$quaternary: #f5f5f5;
$detailsHome: #fd6687;
$cancel: #d7373f;
$pendenteValidacao: #ec7171;
$pendenteCliente: #8bbce6;
$pendenteAgendamento: #ab79d6;
$andamento: #FFE97E;
$detalhes: #FBE91B;
$encerrado: #5dd87e;
$ativo: #5dd87e;
$gray50: #D3D3D3;
$gray100: #707070;
$gray200: #424a53;
$gray300: #343A40;
$gray400: #212529;

